node-red/flows.json
[{"id":"0332804967392195","type":"tab","label":"test nodered->HA","disabled":false,"info":"","env":[]},{"id":"f7066ddcf265e073","type":"tab","label":"rest api","disabled":false,"info":"","env":[]},{"id":"77750d59021a9ec6","type":"tab","label":"long lived token","disabled":false,"info":"","env":[]},{"id":"f2644c9213f87893","type":"tab","label":"48hourweatherforecast","disabled":false,"info":"","env":[]},{"id":"995f9377d2ddb6f6","type":"tab","label":"weatherforecast","disabled":false,"info":"","env":[]},{"id":"e1a4a038.6ae24","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"048ef7248f94c9fb","type":"server","name":"Home Assistant as HA","version":5,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":": ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"default","statusTimeFormat":"h:m","enableGlobalContextStore":false},{"id":"42a379d3d1725e15","type":"inject","z":"0332804967392195","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Send Notification","payloadType":"str","x":140,"y":100,"wires":[["34ad474deb40b3bb"]]},{"id":"34ad474deb40b3bb","type":"api-call-service","z":"0332804967392195","name":"","server":"e1a4a038.6ae24","version":5,"debugenabled":false,"domain":"persistent_notification","service":"create","areaId":[],"deviceId":[],"entityId":[],"data":"{\t  \"message\": \"from nodered\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":380,"y":100,"wires":[["49dcd88c038e94e2"]]},{"id":"49dcd88c038e94e2","type":"debug","z":"0332804967392195","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":180,"wires":[]},{"id":"7a35837edab27962","type":"base64","z":"f7066ddcf265e073","name":"","action":"str","property":"payload","x":280,"y":160,"wires":[["10bc1b7de9bc4d37"]]},{"id":"6b5ae7fb73c36543","type":"inject","z":"f7066ddcf265e073","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"NOT TELLING","payloadType":"str","x":120,"y":160,"wires":[["7a35837edab27962"]]},{"id":"10bc1b7de9bc4d37","type":"debug","z":"f7066ddcf265e073","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":160,"wires":[]},{"id":"89f9bf941bc96a33","type":"inject","z":"f7066ddcf265e073","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ZXlKaGJHY2lPaUpJVXpJMU5pSXNJblI1Y0NJNklrcFhWQ0o5LmV5SnBjM01pT2lJME16QTRZVGMxT1dJM1lqSTBPVEZrWW1aa05UQmhaVEUzTnpNMVpEZG1NU0lzSW1saGRDSTZNVFkzTmpjNE1ERXpOeXdpWlhod0lqb3hPVGt5TVRRd01UTTNmUS45dTBYX3BYZmVJVWR6bnVhRFZkODJUTnBfNEw0UkVhZ1dJTWMtOXZza2RV","payloadType":"str","x":90,"y":260,"wires":[["3a378619f9cf9ecb"]]},{"id":"7901e31c7a68e1f5","type":"debug","z":"f7066ddcf265e073","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":260,"wires":[]},{"id":"3a378619f9cf9ecb","type":"base64","z":"f7066ddcf265e073","name":"","action":"b64","property":"payload","x":320,"y":260,"wires":[["7901e31c7a68e1f5"]]},{"id":"34dba20367aa72f8","type":"inject","z":"f7066ddcf265e073","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":360,"wires":[["cc7694ac08a7ca64"]]},{"id":"2f2f485cd0cd77e2","type":"http request","z":"f7066ddcf265e073","name":"","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:8123/api/states","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":290,"y":400,"wires":[["4846e1457b6cb78e"]]},{"id":"d0ab80610f6b336f","type":"debug","z":"f7066ddcf265e073","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":520,"y":380,"wires":[]},{"id":"cc7694ac08a7ca64","type":"change","z":"f7066ddcf265e073","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\t    \"Authorization\": \"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiI0MzA4YTc1OWI3YjI0OTFkYmZkNTBhZTE3NzM1ZDdmMSIsImlhdCI6MTY3Njc4MDEzNywiZXhwIjoxOTkyMTQwMTM3fQ.9u0X_pXfeIUdznuaDVd82TNp_4L4REagWIMc-9vskdU\",\t    \"Content-Type\": \"application/json\"\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":320,"wires":[["2f2f485cd0cd77e2"]]},{"id":"4846e1457b6cb78e","type":"json","z":"f7066ddcf265e073","name":"","property":"payload","action":"","pretty":false,"x":430,"y":420,"wires":[["d0ab80610f6b336f"]]},{"id":"62743aaad3cccfaa","type":"inject","z":"f7066ddcf265e073","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":480,"wires":[["b675489f2444f91c"]]},{"id":"b675489f2444f91c","type":"change","z":"f7066ddcf265e073","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\t    \"Authorization\": \"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiI0MzA4YTc1OWI3YjI0OTFkYmZkNTBhZTE3NzM1ZDdmMSIsImlhdCI6MTY3Njc4MDEzNywiZXhwIjoxOTkyMTQwMTM3fQ.9u0X_pXfeIUdznuaDVd82TNp_4L4REagWIMc-9vskdU\",\t    \"Content-Type\": \"application/json\"\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":540,"wires":[["041920da6d5af672"]]},{"id":"041920da6d5af672","type":"http request","z":"f7066ddcf265e073","name":"","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:8123/api/","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":270,"y":620,"wires":[["3329da4861e3c49e"]]},{"id":"3329da4861e3c49e","type":"debug","z":"f7066ddcf265e073","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":360,"y":700,"wires":[]},{"id":"7a9ab742d5961144","type":"http in","z":"77750d59021a9ec6","name":"","url":"/melbpctv","method":"get","upload":false,"swaggerDoc":"","x":180,"y":60,"wires":[["3076cf21ef78a6f7"]]},{"id":"0cdc56f55328a156","type":"http response","z":"77750d59021a9ec6","name":"","statusCode":"","headers":{},"x":470,"y":300,"wires":[]},{"id":"bf50d221023fdd65","type":"inject","z":"77750d59021a9ec6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":340,"wires":[["150a91956b6dfb35"]]},{"id":"998f52fd6acc967e","type":"debug","z":"77750d59021a9ec6","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":360,"wires":[]},{"id":"150a91956b6dfb35","type":"ha-api","z":"77750d59021a9ec6","name":"create token","server":"048ef7248f94c9fb","version":1,"debugenabled":false,"protocol":"websocket","method":"get","path":"","data":"{\t    \"id\": 11,\t    \"type\": \"auth/long_lived_access_token\",\t    \"client_name\": \"melbpctv\",\t    \"lifespan\": 3650\t}","dataType":"jsonata","responseType":"json","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"results"}],"x":290,"y":380,"wires":[["998f52fd6acc967e"]]},{"id":"3076cf21ef78a6f7","type":"change","z":"77750d59021a9ec6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":160,"wires":[["be81f37394d72861"]]},{"id":"be81f37394d72861","type":"change","z":"77750d59021a9ec6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"melbpctv\" & $string($round($number(payload)/1000))\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":200,"wires":[["4f114b3e3ba2ea50"]]},{"id":"4f114b3e3ba2ea50","type":"ha-api","z":"77750d59021a9ec6","name":"create token","server":"048ef7248f94c9fb","version":1,"debugenabled":false,"protocol":"websocket","method":"get","path":"","data":"{\t    \"id\": 11,\t    \"type\": \"auth/long_lived_access_token\",\t    \"client_name\": payload,\t    \"lifespan\": 3650\t}","dataType":"jsonata","responseType":"json","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"results"}],"x":290,"y":260,"wires":[["0cdc56f55328a156"]]},{"id":"0dad61962785a42d","type":"inject","z":"f2644c9213f87893","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":100,"wires":[["cf0e8ee75ef7c00e"]]},{"id":"3873ada804bbfc84","type":"debug","z":"f2644c9213f87893","name":"debug 22","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":260,"y":400,"wires":[]},{"id":"cf0e8ee75ef7c00e","type":"http request","z":"f2644c9213f87893","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://weather.theage.com.au/local-forecast/vic/melbourne","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":350,"y":120,"wires":[["131fcbcbc7db1d3f","633ad7b246b19c69"]]},{"id":"131fcbcbc7db1d3f","type":"html","z":"f2644c9213f87893","name":"","property":"payload","outproperty":"payload","tag":"#data .timestamp, #data .label, #data .temp_c, #data .prob_precip, #data .wind_speed_kph","ret":"html","as":"single","x":660,"y":220,"wires":[["3873ada804bbfc84","241a63422c569104"]]},{"id":"82d77205d9f4e110","type":"debug","z":"f2644c9213f87893","name":"debug 23","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":260,"y":320,"wires":[]},{"id":"633ad7b246b19c69","type":"html","z":"f2644c9213f87893","name":"","property":"payload","outproperty":"payload","tag":"#data .data","ret":"html","as":"single","x":310,"y":260,"wires":[["82d77205d9f4e110"]]},{"id":"e0813b74bcb48985","type":"debug","z":"f2644c9213f87893","name":"debug 24","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":480,"y":500,"wires":[]},{"id":"241a63422c569104","type":"function","z":"f2644c9213f87893","name":"function 10","func":"let oldpayload = msg.payload;\nlet newpayload = [];\n\nconst chunkSize = 5;\nfor (let i = 0; i < oldpayload.length; i += chunkSize) {\n    const chunk = oldpayload.slice(i, i + chunkSize);\n    const melbourne_utc = 10;\n    newpayload.push(\n        {\n            \"timestamp\": parseInt(chunk[0]) * 1000 - melbourne_utc * 60 * 60 * 1000,\n            \"label\": chunk[1],\n            \"temperature\": parseInt(chunk[2]),\n            \"rain\": parseInt(chunk[3]),\n            \"wind\": parseInt(chunk[4])\n        }\n    );\n}\nconst jsonValue = {\n    \"results\": newpayload\n};\nmsg.payload = jsonValue;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":380,"wires":[["d39cc51df8900584"]]},{"id":"d39cc51df8900584","type":"json","z":"f2644c9213f87893","name":"","property":"payload","action":"","pretty":false,"x":490,"y":440,"wires":[["e0813b74bcb48985","7504d26183079b3f"]]},{"id":"c2f3ac4b6b3a33e7","type":"http in","z":"f2644c9213f87893","name":"","url":"/theageforecast3","method":"get","upload":false,"swaggerDoc":"","x":170,"y":180,"wires":[["cf0e8ee75ef7c00e"]]},{"id":"7504d26183079b3f","type":"http response","z":"f2644c9213f87893","name":"","statusCode":"","headers":{"content-type":"application/json"},"x":290,"y":580,"wires":[]},{"id":"ebe06e3aa2aa9f4e","type":"inject","z":"995f9377d2ddb6f6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":40,"wires":[["59746c75bf2c0de0"]]},{"id":"5b800aeb90aba864","type":"debug","z":"995f9377d2ddb6f6","name":"debug 6","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":240,"y":340,"wires":[]},{"id":"59746c75bf2c0de0","type":"http request","z":"995f9377d2ddb6f6","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://weather.theage.com.au/local-forecast/vic/melbourne","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":330,"y":60,"wires":[["b9fdc33c72ee294c","e0db24942b7b22ce"]]},{"id":"b9fdc33c72ee294c","type":"html","z":"995f9377d2ddb6f6","name":"","property":"payload","outproperty":"payload","tag":"#data .timestamp, #data .label, #data .temp_c","ret":"html","as":"single","x":500,"y":160,"wires":[["5b800aeb90aba864","8680f8e1bffb5cf9"]]},{"id":"86a1c22741e6652f","type":"debug","z":"995f9377d2ddb6f6","name":"debug 7","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":240,"y":260,"wires":[]},{"id":"e0db24942b7b22ce","type":"html","z":"995f9377d2ddb6f6","name":"","property":"payload","outproperty":"payload","tag":"#data .data","ret":"html","as":"single","x":290,"y":200,"wires":[["86a1c22741e6652f"]]},{"id":"a89d145c7352aa62","type":"debug","z":"995f9377d2ddb6f6","name":"debug 8","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":460,"y":440,"wires":[]},{"id":"8680f8e1bffb5cf9","type":"function","z":"995f9377d2ddb6f6","name":"function 1","func":"let oldpayload = msg.payload;\nlet newpayload = [];\nconst chunkSize = 3;\nfor (let i = 6; i < oldpayload.length; i += chunkSize) {\n    const chunk = oldpayload.slice(i, i + chunkSize);\n    newpayload.push(\n        {\n            \"timestamp\": chunk[0],\n            \"label\": chunk[1],\n            \"temperature\": chunk[2]\n        }\n    );\n}\nmsg.payload = newpayload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":320,"wires":[["c0f84ee897f133aa"]]},{"id":"c0f84ee897f133aa","type":"json","z":"995f9377d2ddb6f6","name":"","property":"payload","action":"","pretty":false,"x":470,"y":380,"wires":[["a89d145c7352aa62","03e06bada49d0ac1"]]},{"id":"f29272e481708993","type":"http in","z":"995f9377d2ddb6f6","name":"","url":"/theageforecast","method":"get","upload":false,"swaggerDoc":"","x":140,"y":120,"wires":[["59746c75bf2c0de0"]]},{"id":"03e06bada49d0ac1","type":"http response","z":"995f9377d2ddb6f6","name":"","statusCode":"","headers":{"content-type":"application/json"},"x":270,"y":520,"wires":[]}]